body {
    background: rgb(246, 246, 246);
    margin: 0px;
    padding: 0 20px 0 20px;
    min-width: 400px;
    float: center;

}

#wrapper {
    float: center;
    margin: auto;
    max-width: 800px;
    margin: auto;
}

body,
textarea {
    font-family: 'Work Sans', sans-serif;
    border-radius: 6px;
}

#user_input,
#commands,
#result {
    width: 100%;
    margin: 0px 0px 10px -10px;
    border: 1px solid rgb(200, 200, 200);
    padding: 6px 10px;
    background: #fff;
    font-size: 1.1em;
}

#process {
    margin-bottom: 20px;
}

#user_input {
    height: 80px;
}

#commands {
    height: 100px;
}

#result {
    height: 400px;
    overflow-x: visible;
}


